<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>
            servlet.MainContext
        </listener-class>
    </listener>
    <filter>
        <filter-name>Chatroom</filter-name>
        <filter-class>filter.Chatroom</filter-class>
    </filter>
    <filter>
        <filter-name>Admin</filter-name>
        <filter-class>filter.Admin</filter-class>
    </filter>
    <filter>
        <filter-name>JoinResult</filter-name>
        <filter-class>filter.JoinResult</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JoinResult</filter-name>
        <url-pattern>/join_result.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin</filter-name>
        <url-pattern>/admin.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Chatroom</filter-name>
        <url-pattern>/chatroom.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>servlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Join</servlet-name>
        <servlet-class>servlet.Join</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatroomLoader</servlet-name>
        <servlet-class>servlet.ChatroomLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatHistory</servlet-name>
        <servlet-class>servlet.ChatHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FireChat</servlet-name>
        <servlet-class>servlet.FireChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PollChat</servlet-name>
        <servlet-class>servlet.PollChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendRequest</servlet-name>
        <servlet-class>servlet.FriendRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Join</servlet-name>
        <url-pattern>/Join</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatroomLoader</servlet-name>
        <url-pattern>/ChatroomLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatHistory</servlet-name>
        <url-pattern>/ChatHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FireChat</servlet-name>
        <url-pattern>/FireChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PollChat</servlet-name>
        <url-pattern>/PollChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendRequest</servlet-name>
        <url-pattern>/FriendRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
