apiVersion: v1
kind: Service 
metadata:
  name: demoweb-service
spec:
  type: NodePort
  ports:
    - port: 50051
      targetPort: 50051
      nodePort: 30051
  selector:
    app: demoweb-service-app
---
apiVersion: v1
kind: Service 
metadata:
  name: demoweb-reverse-proxy
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
  selector:
    app: demoweb-service-app
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demoweb-service-app
spec:
  replicas: 10
  selector:
    matchLabels:
      app: demoweb-service-app
  template:
    metadata:
      labels:
        app: demoweb-service-app
    spec:
      containers:
      - name: demoweb-service-container
        image: {{demoweb_service_image}}:latest
        ports:
        - containerPort: 50051
      - name: demoweb-reverse-proxy-container
        image: {{demoweb_reverse_proxy_image}}:latest
        ports:
        - containerPort: 8080