apiVersion: v1
kind: Service 
metadata:
  name: demoweb-service
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
  selector:
    app: demoweb-service-app
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demoweb-service-app
spec:
  replicas: 10
  selector:
    matchLabels:
      app: demoweb-service-app
  template:
    metadata:
      labels:
        app: demoweb-service-app
    spec:
      containers:
      - name: demoweb-service-container
        image: {{demoweb_service_image}}
        ports:
        - containerPort: 80